<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conco.concoadmin.mapper.TestMapper">

<select id="testListDAO" parameterType="com.conco.concoadmin.vo.TestVO" resultType="com.conco.concoadmin.vo.TestVO">
        select ADMIN_MEMBER_NUM,ADMIN_ID,ADMIN_NAME from admin_member
    </select>

</mapper>